
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Bebas+Neue&family=Chonburi&family=Cormorant+SC:wght@300&family=Cutive&family=Fugaz+One&family=Lobster&family=Luckiest+Guy&family=Metrophobic&family=Monoton&family=Notable&family=Pacifico&family=Rakkas&family=Righteous&family=Rubik+Mono+One&family=Silkscreen:wght@400;700&family=Six+Caps&family=Staatliches&family=Yeseva+One&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.user-nav, .user-nae {
  margin-right: 500px;
}

.cards {
  display: flex;
    justify-content: space-between;
}

.align-items-center{
  background: #BBDEFB
}

.chinchorro {
  font-family: "Rakkas";
  font-size: 40px;
}

h1 {
  font-family: "Rakkas";
  font-size: 40px;
}

h2{

  font-family: "Rakkas";
  font-size: 30px;
}

h3 {
  font-family: "Rakkas";
  font-size: 20px;
}

.img-home {
  width: 90vw;
  height: 90vh;
}

.carder {
  a:link {
      text-decoration: black;
    }
    


    a:visited {
      text-decoration: none;
    }


    a:hover {
      text-decoration: none;
    }


    a:active {
      text-decoration: none;
    }

    padding-left: 100;

    color: white;
}

.link {
  color:#FFF;
}
.link:hover {
  color:black
}

.gradient-custom {
  /* fallback for old browsers */
  background: #aee9e5;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to top, rgba(4,149,149,1), rgba(51,8,103,1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to top, rgba(4,149,149,1), rgba(51,8,103,1))
}

